.login-btn {
    border-radius: 5px;
  }
  .ad_navicon_toggle{
    display: none;
    }
    
  @media screen and (max-width: 800px) {
    .ad_navtext_toggle {display: none;}
    .ad_navicon_toggle {display: block;}
    
    }
