<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="">
          <a uk-toggle="target: #offcanvas-nav-default" uk-icon="icon: menu; ratio: 1.5"></a>
        </li>
        
      </ul>
    </div>
  </nav>

  <div id="offcanvas-nav-default" uk-offcanvas="push">
      <div class="uk-offcanvas-bar">
    
        <ul class="uk-nav uk-nav-default">
          <li class="uk-nav-header">Judgr</li>
          <li>
            <a href="/">
              <span class="uk-margin-small-right" uk-icon="icon: home"></span> Home</a>
          </li>
          <li>
            <a href="/scoreboard">
              <span class="uk-margin-small-right" uk-icon="icon: star"></span> Scoreboard</a>
          </li>
          <li *ngIf="showDashboard()">
            <a href="/dashboard">
              <span class="uk-margin-small-right" uk-icon="icon: desktop"></span> Dashboard</a>
          </li>
          <li class="uk-nav-divider"></li>
          <li *ngIf="!showDashboard()">
            <a href="/register">
              <span class="uk-margin-small-right" uk-icon="icon: desktop"></span> Register</a>
          </li>
          <li>
            <a href="/{{ showDashboard() ? 'logout' : 'login' }}">
              <span class="uk-margin-small-right" uk-icon="icon: sign-in"></span> {{ showDashboard() ? 'Logout' : 'Login' }}</a>
          </li>
        </ul>
    
      </div>
    </div>
  
