<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/scoreboard">Scoreboard</a></li>
    </ul>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li ><a href="/{{ showDashboard() ? 'dashboard' : 'register' }}">{{ showDashboard() ? 'dashboard' : 'register' }}</a></li>
      <li class="uk-active"><a href="/{{ loginLink() }}"><button class="uk-button uk-button-default uk-button-small login-btn">{{ loginText() }}</button></a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
