<div class=" content-background">

  <div class="uk-section-small">
    <div class="uk-container uk-container-large">
      <div uk-grid class="uk-child-width-1-1@s uk-child-width-1-2@l">
        <div>

          <div class="uk-card uk-card-default uk-card-hover">
            <div class="uk-card-header">
              Beginner Teams
              <span class="uk-text-center fa-plus-span">
                  <button class="uk-button uk-button-default uk-button-small" type="button">
                      <i class="fas fa-plus"></i>
                    </button>
              </span>
            </div>
            <div class="uk-card-body">
              <table class="uk-table uk-table-striped uk-table-middle">
                <thead>
                  <tr>
                    <th>Team Name</th>
                    <th>Delete Team</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Team 1</td>
                    <td>
                      <button class="uk-button uk-button-default uk-button-small" type="button">
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>


        <div>
          <div class="uk-card uk-card-default uk-card-hover">
            <div class="uk-card-header">
              Advanced Teams
              <span class="uk-text-center fa-plus-span">
                  <button class="uk-button uk-button-default uk-button-small" type="button">
                      <i class="fas fa-plus"></i>
                    </button>
              </span>
            </div>
            <div class="uk-card-body">
              <table class="uk-table uk-table-striped uk-table-middle">
                <thead>
                  <tr>
                    <th>Team Name</th>
                    <th>Delete Team</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Team 1</td>
                    <td>
                      <button class="uk-button uk-button-default uk-button-small" type="button">
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div>
          <div class="uk-card uk-card-default uk-card-hover">
            <div class="uk-card-header">
              Beginner Questions
              <span class="uk-text-center fa-plus-span">
                  <button class="uk-button uk-button-default uk-button-small" type="button">
                      <i class="fas fa-plus"></i>
                    </button>
              </span>
            </div>
            <div class="uk-card-body">
              <table class="uk-table uk-table-striped uk-table-middle">
                <thead>
                  <tr>
                    <th>Team Name</th>
                    <th>Delete Team</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Team 1</td>
                    <td>
                      <button class="uk-button uk-button-default uk-button-small" type="button">
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-default uk-card-hover">
            <div class="uk-card-header">
              Advanced Questions
              <span class="uk-text-center fa-plus-span">
                  <button class="uk-button uk-button-default uk-button-small" type="button">
                      <i class="fas fa-plus"></i>
                    </button>
              </span>
            </div>
            <div class="uk-card-body">
              <table class="uk-table uk-table-striped uk-table-middle">
                <thead>
                  <tr>
                    <th>Team Name</th>
                    <th>Delete Team</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Team 1</td>
                    <td>
                      <button class="uk-button uk-button-default uk-button-small" type="button">
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>




        </div>
      </div>
    </div>