<div class="uk-section-small">
  <div class="uk-container uk-container-large">
    <div class="uk-card uk-card-default uk-card-hover">
      <div class="uk-card-header">
        Scoreboard
      </div>
      <div class="uk-card-body">
        <table class="uk-table uk-table-striped uk-table-middle">
          <thead>
            <tr>
              <th>Team Name</th>
              <th>Score</th>
              <th>Problems</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of teams$">
              <td>{{team.team.name}}</td>
              <td>{{team.totalPoints}}</td>
              <td >
                <div class="team-problem" *ngFor="let problem of team.problems; let i = index">
                  <div *ngIf="problem.correct === true">
                      {{i+1 }} &nbsp;
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>