<div class=" content-background">

    <div class="uk-section-small">
        <div class="uk-container uk-container-large">
            <div uk-grid class="uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-4@xl">
                <div>
                    <div class="uk-card uk-card-default uk-card-body uk-card-hover">
                        <span class="statistics-number">
                            Question 1
                        </span>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default uk-card-body uk-card-hover">
                        <span class="statistics-number">
                            Question 2
                        </span>
                    </div>
                </div>


                <div>
                    <div class="uk-card uk-card-default uk-card-body uk-card-hover">
                        <span class="statistics-number">
                            Question 3
                        </span>
                    </div>
                </div>


                <div>
                    <div class="uk-card uk-card-default uk-card-body uk-card-hover">
                        <span class="statistics-number">
                            Question 4
                        </span>
                    </div>
                </div>

                <div>
                        <div class="uk-card uk-card-default uk-card-body uk-card-hover">
                            <span class="statistics-number">
                                Question 5
                            </span>
                        </div>
                    </div>
    
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-card-hover">
                            <span class="statistics-number">
                                Question 6
                            </span>
                        </div>
                    </div>
    
    
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-card-hover">
                            <span class="statistics-number">
                                Question 7
                            </span>
                        </div>
                    </div>
    
    
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-card-hover">
                            <span class="statistics-number">
                                Question 8
                            </span>
                        </div>
                    </div>

            </div>
            <div uk-grid class="uk-child-width-1-1@s uk-child-width-1-2@l">
                <div>
                    <div class="uk-card uk-card-default uk-card-hover">
                        <div class="uk-card-header">
                            Beginner Teams
                        </div>
                        <div class="uk-card-body">
                            <table class="uk-table uk-table-striped uk-table-middle">
                                <thead>
                                    <tr>
                                        <th>Team Name</th>
                                        <th>Mark For Judging</th>
                                        <th>Correct Answer</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Team 1</td>
                                        <td>
                                            <button class="uk-button uk-button-default uk-button-small" type="button">
                                                <i class="fas fa-check"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button class="uk-button uk-button-default uk-button-small" type="button" disabled>
                                                <i class="fas fa-check"></i>
                                            </button>
                                            <button class="uk-button uk-button-default uk-button-small" type="button" disabled>
                                                <i class="fas fa-ban"></i>
                                            </button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Team 2</td>
                                        <td>
                                            <button class="uk-button uk-button-default uk-button-small" type="button" disabled>
                                                <i class="fas fa-check"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button class="uk-button uk-button-default uk-button-small" type="button" enabled>
                                                <i class="fas fa-check"></i>
                                            </button>
                                            <button class="uk-button uk-button-default uk-button-small" type="button" enabled>
                                                <i class="fas fa-ban"></i>
                                            </button>
                                        </td>
                                    </tr>



                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-hover">
                        <div class="uk-card-header">
                            Advanced Teams
                        </div>
                        <div class="uk-card-body">
                                <table class="uk-table uk-table-striped uk-table-middle">
                                        <thead>
                                            <tr>
                                                <th>Team Name</th>
                                                <th>Mark For Judging</th>
                                                <th>Correct Answer</th>
        
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Team 1</td>
                                                <td>
                                                    <button class="uk-button uk-button-default uk-button-small" type="button">
                                                        <i class="fas fa-check"></i>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="uk-button uk-button-default uk-button-small" type="button" disabled>
                                                        <i class="fas fa-check"></i>
                                                    </button>
                                                    <button class="uk-button uk-button-default uk-button-small" type="button" disabled>
                                                        <i class="fas fa-ban"></i>
                                                    </button>
                                                </td>
                                            </tr>
        
                                            <tr>
                                                <td>Team 2</td>
                                                <td>
                                                    <button class="uk-button uk-button-default uk-button-small" type="button" disabled>
                                                        <i class="fas fa-check"></i>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="uk-button uk-button-default uk-button-small" type="button" enabled>
                                                        <i class="fas fa-check"></i>
                                                    </button>
                                                    <button class="uk-button uk-button-default uk-button-small" type="button" enabled>
                                                        <i class="fas fa-ban"></i>
                                                    </button>
                                                </td>
                                            </tr>
        
        
        
                                        </tbody>
                                    </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>