  .uk-logo, .uk-logo:hover, .uk-logo:active, .uk-logo:visited {
      color: #ffffff;
  }
  


  .user > #name {
      font-size: 22px;
  }


  .statistics-text {
      font-size: 25px;
  }
  .statistics-number {
      font-size: 50px;
  }
  
  


.content-background {
    min-height: calc(100% - 80px);
    background-color: #F0F0F0;
}

.dashboard-header {
    margin-bottom: 15px;
}
