  .uk-logo, .uk-logo:hover, .uk-logo:active, .uk-logo:visited {
      color: #ffffff;
  }
  


  .user > #name {
      font-size: 22px;
  }
  .header {
      box-sizing: border-box;
      border-bottom: 1px #e5e5e5 solid;
  }

  .statistics-text {
      font-size: 25px;
  }
  .statistics-number {
      font-size: 50px;
  }
  
  


