<div class="uk-container">
  <div class=" uk-position-center">
    <div class="uk-align-center uk-text-center uk-height-1-1">
        <div class="uk-vertical-align-middle uk-width-1-1">

        <div class="icon">
          <img src="assets/images/logo.png" width="100px" height="100px" alt="test">
        </div>
        <div [hidden]="(email.valid || email.pristine || email.untouched)" class="uk-alert uk-alert-warning alert">Not a valid email address.</div>
        <div [hidden]="(password.valid || password.pristine || email.invalid || password.untouched)" class="uk-alert uk-alert-warning password-alert">Password requires uppercase, lowercase, number, special character, and a minimum length of 6.</div>
        <div [hidden]="confirmPassword.valid || confirmPassword.pristine || password.invalid" class="uk-alert uk-alert-warning alert">Passwords do not match.</div>

        <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
          <div class="uk-margin">
            <div class="uk-inline">
              <span class="uk-form-icon" uk-icon="icon: user"></span>
              <input name="email" class="uk-input" autofocus minlength="3" type="text" placeholder="Email" required ngModel #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            </div>
          </div>
          <div class="uk-margin">
            <div class="uk-inline">
              <span class="uk-form-icon uk-form-icon" uk-icon="icon: lock"></span>
              <input name="password" class="uk-input" minlength="6" type="password" placeholder="Password" ngModel required #password="ngModel" pattern="^(?=.*[a-z|A-Z])(?=.*[A-Z])(?=.*\d)(?=.*(_|[^\w])).{6,100}">
            </div>
          </div>
          <div class="uk-margin">
            <div class="uk-inline">
              <span class="uk-form-icon uk-form-icon" uk-icon="icon: lock"></span>
              <input name="confirmPassword" class="uk-input" minlength="6" type="password" placeholder="Confirm Password" ngModel required #confirmPassword="ngModel" validateEqual="password">

            </div>
          </div>
          <button [disabled]="loading || !registerForm.valid" class="uk-button uk-button-primary login-btn" type=submit>
            <div *ngIf="loading" uk-spinner></div>
            <div *ngIf="!loading">Register</div>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>